html { 
    background: url(images/background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    header{
        width: 100%;
        text-align: center;
        color: rgba(255, 0, 0, 0.85);
        font-size: 48px;
        font-style: italic;
        transform: scaleY(1.5);
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
        .filter-buttons{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 5px;
            margin-right: 5px;
        }
            .nav-button{
                width: 120px;
                display: inline-block;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.9);
                margin: 5px;
                padding: 15px;
                font-style: italic;
                color: black;
            }
                .nav-button-red{
                    background-color: white;
                    border-bottom: 1px solid red;
                }
                .nav-button:hover{
                    background-color: white;
                    border-bottom: 1px solid red;
                }
        .view-by-date{
            width: 100%;
            border: 1px red dotted;
            background-color: rgb(0, 0, 0, .9);
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            color: white;
        }
            .view-by-date-header{
                font-style: italic;
            }
            .view-by-date-button{
                margin: 5px;
                font-style: italic;
                background-color: white;
                border: none;
                color: black;
                width: 100px;
                height: 25px;
            }
            select{
                background-color: white;
                color: black;
                height: 24px;
                border: none;
            }
   
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%; 
    }